@{ ViewData["Title"] = "Home Page"; }
@{ Layout = null; }
@model Ng_20.Views.Home.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.SpaServices

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ng_20</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>
    <script>
        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        //alert("Index.cshtml")
    </script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>
